<!--This is just another sample page for demonstration of routing.-->
<h1>Information</h1>
<p style="max-width: 600px;">This app is used for keeping record of artists as well as their work, for art shows and exhibitions. It requires essential information such as the artist name and details, the art piece they wish to showcase, details about the art piece and what days are planned for exhibition.</p>
<h1>Features</h1>
<p style="max-width: 600px;">The "feature" feature is used to make certain artists stand out for fans and art enthusiast who may be checking the table. This feature moves said artists to a new table making them easier to see.</p>
