<!--This is a navbar that will be present on all pages, used for navigating between pages.-->
<div class="site-container">
<div class="navbar">
    <a routerLink="/artist-form">Artist Form</a>
    <a routerLink="/artist-list">Artist List</a>
    <a routerLink="/help-page">Help</a>
    <a routerLink="/information-page">Information</a>
    <a routerLink="/privacy-page">Privacy</a>
  </div>
  <router-outlet></router-outlet>
<main class="content">
<div class="centered-content">
  
<!--This is a footer that will be on all pages, used for styling showcase.-->
</div>
</main>
<footer class="site-footer">
    <div class="footer-content">
      <div class="contact-info">
        <h3>Contact Us</h3>
        <p>Website: scu.edu.au</p>
        <p>Phone: +123 456 7890</p>
        <p>Address: Gold Coast Airport, Terminal Dr, Bilinga QLD 4225</p>
      </div>
      <div class="social-media">
        <h3>Follow Us</h3>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Instagram</p>
      </div>
      <div class="legal-info">
        <p>&copy; 2024 SCUArtGallery.com. All rights reserved.</p>
        <p>Certified by the SCU Art Group</p>
        <p>Member of the SCU Art Exhibition</p>
      </div>
    </div>
  </footer>
</div>