<!--This is just an example page to demonstrate use of routing-->
<h1>Help</h1>
<p style="max-width: 600px" >Welcome to the help page, This page is here to provide some guidance with navigating pages and using the artist form. If you have any further requests or require additional help that cannot be resolved here or on the information page, please contact support below.</p>
<br>
<h2>Navigation</h2>
<p style="max-width: 600px;">Click on the links above to navigate to its page, the pages are artist list, help, privacy and security policy, and information. If you cannot find the page you are looking for or enter an invalid url, you will be redirected to an error page that will give you the option to return here.</p>
<br>
<h2>Artist form</h2>
<p style="max-width: 600px;">On the artist list page there is a form where artists are required to submit their work and relevant information. To use this feature, please fill out all required fields on the form with correct and true information and click the "add artist" button when ready. If done correctly, your name, information and artwork will be added and displayed on the table.</p>